.ios, .md {
 
    page-home {
 
        content-drawer {
            background-color: #2ec95c !important;
        }
 
        content-drawer .content {
            padding: 20px;
        }
 
    }
 
}

.custom {
    .toolbar-background-ios {
        background-color: #2ec95c !important;
        color: #fff;
    }
}